<secction class="card">
    <div class="card-body">
        <h1>
            ABOUT
        </h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda deserunt, maiores voluptatibus ducimus libero qui quo debitis nihil dignissimos cum alias quaerat impedit? Voluptates doloremque eius officia quam aliquam dignissimos!
        </p>
    </div>
</secction>