<secction class="card">
    <div class="card-body">
        <h1>
            ABOUT
        </h1>
        <hr>
        <h5> 
            Colecciones    
        </h5>
        <br>
        <p>
            CARROS (Id_Placa, marca, modelo, color, valor) <br>
            
            CLIENTES (Id_Cliente, nombres_Cli, dirección, teléfono)<br>
            PAÍSES (Cod_Pais, nom_Pais)<br>
            CARROS_PAISES (Id_Cliente, Cod_Pais)<br>
            COMPRAS (Id_Compra, fec_Com, valor_Com, Id_cliente_Id_Placa)<br>
            VENTAS (Id_Venta, fec_Ven, valor_Ven, Id_cliente_Id_Placa)<br>
            EVENTOS (Id_Eve, Nombre_Eve, Id_Placa)<br>
        </p>
        <br>
        <p>
            -	Permitir realizar consultas de los carros antiguos, además, realizar transacciones  entre clientes de todo el mundo, como compra, venta e intercambio de carros. 
        <br>
            -	Permitir el ingreso de un carro antiguo, que no esté relacionado en la base de datos y que requiera publicarse. Lo puede realizar un cliente X en un país X.
        <br>
            -	Permitir consultar el nombre del evento (s) en los que ha participado los autos (nombre del evento, país y dueño vehículo)  
        </p>
    </div>
</secction>