<div class="jumbotron mt-2">
    <div style="text-align: center;">
        <img
            src="../../OLD_CARS_2.png"
            alt="OldCars"
            height="150"
            width="450" />
    </div>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti est quod, vitae deserunt delectus repellat?
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio laudantium, minima quia molestiae in itaque atque beatae exercitationem modi eveniet.
    </p>
    <a class="btn btn-primary" href="/about">ABOUT</a>
</div>