<div class="jumbotron mt-4">
    <h1 class="display-4">
        CARROS AUNTIGUOS - BD2
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti est quod, vitae deserunt delectus repellat?
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio laudantium, minima quia molestiae in itaque atque beatae exercitationem modi eveniet.
    </p>
    <a class="btn btn-primary" href="/about">ABOUT</a>
</div>