<div class="jumbotron mt-2">
    <div style="text-align: center;">
        <img
            src="../../OLD_CARS_2.png"
            alt="OldCars"
            height="150"
            width="450" />
    </div>
    <h3 class="lead">
        Proyecto Carros Antiguos - MongoDB
    </h3>
    <hr class="my-4">
    <h5>
        Proyecto final BASES DE DATOS 2
    </h5>
    <br>
    <p>
        Objetivo:<br> Diseñar una aplicación en la web, con el fin de aprender a interactuar con bases de datos relacionales y con bases de datos NoSQL, utilizando la más adecuada para un caso específico.  
    </p>
    <a class="btn btn-primary" href="/about">ABOUT</a>
</div>