<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Recuperar Contrase침a
            </div>
            <div class="card-body">
                <p>Te enviaremos un correo electr칩nico con una nueva contrase침a.</p>
                <form action="/users/recoverPassword" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="correoElectronico" placeholder="Correo Electr칩nico" required>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">
                        Enviar correo   
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>